In [1]:
import os
import re
import glob
import pickle
import numpy as np
import pandas as pd
import pandas.io.common
pd.set_option('display.max_columns', None)

In [2]:
#### File Path and Variables
loc_path = r'/Users/raj2.gaurav/Desktop/' 
path = loc_path + r'/Causal Model/03. Collated Data/03. LSR Data/'
features_path = loc_path + 'Causal Model/04. Feature Store/02. LSR Features/'
### Input for the Circle 
Circle= 'bihar'
monthname='Nov'
year = '2022'
Files = glob.glob(path + "/*.parquet")
Files

['/Users/raj2.gaurav/Desktop//Causal Model/03. Collated Data/03. LSR Data/Collated_Lsr_data.parquet']

In [3]:
### Reading the Data
df=pd.read_parquet(Files[0])
df.shape

(964551, 22)

In [4]:
df.head()

,Circle,City,Partition_date,Component,Hour,Sum_total_volume_mb_download,Sum_total_volume_mb_upload,Unique_customers,Total_duration_sec,Total_sessions,Rsrp_nom,Rsrp_dnom,Rsrq_nom,Rsrq_dnom,Mean_cqi_nom,Mean_cqi_dnom,Pusch_sinr_nom,Pusch_sinr_dnom,Ta_distance_nom,Ta_distance_dnom,Intersite_distance_nom,Intersite_distance_dnom
0,bihar,hajipur,2022-11-04,98,17,44547835768.00,4727227696.00,4672,840864,49706,-4046761.00,39294,-562649.00,39294,392691.0,49276,146593.70,12682,56784132.00,49706,83771883.00,49706
1,bihar,jamui,2022-11-04,56,17,45228882630.00,4137939740.00,5133,1598569,43598,-2499904.00,28126,-398315.50,28126,376384.0,43409,326344.50,22993,13896817.00,43598,12780028.00,43598
2,bihar,daltonganj,2022-11-04,9,17,42583194734.00,3876797554.00,4902,1257292,43465,-3132259.00,34509,-461172.50,34509,389276.0,43192,297332.90,19718,10627596.00,43465,11452453.00,43465
3,bihar,sitamarhi,2022-11-04,27,17,75229462619.00,6707864085.00,8134,2627563,78809,-5018878.00,55742,-830623.50,55742,622129.0,78306,493853.90,42966,42858573.00,78809,33896908.00,78809
4,bihar,gaya,2022-11-04,112,17,110061710390.00,10600855782.00,8041,3021133,89193,-5558638.00,60384,-799238.00,60384,806191.0,88822,635052.00,45805,20777164.00,89193,26351571.00,89193

In [5]:
df1=df.copy()
df1.sort_values(by='Partition_date',inplace=True)

In [6]:
#### Lag Features
df1['Rsrp_nom_lag_1_day']=df.groupby(['Circle', 'City','Component', 'Hour'],as_index=False)['Rsrp_nom'].shift(1)
df1['Rsrp_dnom_lag_1_day']=df.groupby(['Circle', 'City','Component', 'Hour'],as_index=False)['Rsrp_dnom'].shift(1)
df1['Rsrq_nom_lag_1_day']=df.groupby(['Circle', 'City','Component', 'Hour'],as_index=False)['Rsrq_nom'].shift(1)
df1['Rsrq_dnom_lag_1_day']=df.groupby(['Circle', 'City','Component', 'Hour'],as_index=False)['Rsrq_dnom'].shift(1)

In [7]:
print("Shape of Lsr Attribute Dataset After Collation:", df1.shape)
df1.to_parquet(features_path + 'Lsr_features.parquet')

Shape of Lsr Attribute Dataset After Collation: (964551, 26)