In [1]:
import pycaret
import pandas as pd
import os
import sys 
import shutil
import pickle

In [2]:
# import pycaret classification and init setup
from pycaret.classification import *

In [3]:
sys.path.append(os.path.abspath("/Users/raj2.gaurav/Desktop/supervised_classification/09. Config"))
import config

In [4]:
path=config.scoring_data_path

In [5]:
pred_data=pd.read_pickle(path)

In [6]:
pred_data.columns

Index(['ID', 'Customer_ID', 'Month', 'Name', 'Age', 'SSN', 'Occupation',
       'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
       'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance'],
      dtype='object')

In [7]:
Ignore_features = config.Ignore_features_inference

In [8]:
pred_data.drop(Ignore_features,inplace=True,axis=1)

In [9]:
pred_data.shape

(50000, 22)

In [10]:
config.model_object_path

'/Users/raj2.gaurav/Desktop/supervised_classification/07. Model/rf/Model_Results/Model_Objects/rf'

In [11]:
pred_data.head()

,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,23,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,...,2022.0,Good,809.98,35.030402,273.0,No,49.57494921489417,236.642682,Low_spent_Small_value_payments,186.266702
1,24,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,...,4.0,Good,809.98,33.053114,274.0,No,49.57494921489417,21.465380,High_spent_Medium_value_payments,361.444004
2,24,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",1,...,4.0,Good,809.98,33.811894,NaN,No,49.57494921489417,148.233938,Low_spent_Medium_value_payments,264.675446
3,24,Scientist,19114.12,4182.004291,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",4,...,4.0,Good,809.98,32.430559,276.0,No,49.57494921489417,39.082511,High_spent_Medium_value_payments,343.826873
4,28,_______,34847.84,3037.986667,2,4,6,1,Credit-Builder Loan,3,...,5.0,Good,605.03,25.926822,327.0,No,18.816214573128885,39.684018,High_spent_Large_value_payments,485.298434

In [14]:
rf = load_model(config.model_object_path)

Transformation Pipeline and Model Successfully Loaded

In [20]:
rf

Pipeline(memory=FastMemory(location=/var/folders/3p/7q9_hy6x4q58xrz02_n9tvv0fryx5_/T/joblib),
         steps=[('numerical_imputer',
                 TransformerWrapper(include=['Annual_Income',
                                             'Monthly_Inhand_Salary',
                                             'Num_Bank_Accounts',
                                             'Num_Credit_Card', 'Interest_Rate',
                                             'Num_of_Loan',
                                             'Num_of_Delayed_Payment',
                                             'Num_Credit_Inquiries',
                                             'Outstanding_Debt',
                                             'Credit_Utilization_Ratio'...
                                                                   handle_missing='return_nan',
                                                                   random_state=8216))),
                ('remove_outliers',
                 TransformerWrapper(transformer=RemoveOutliers(random_state=8216,
                                                               threshold=0.5))),
                ('balance',
                 TransformerWrapper(transformer=FixImbalancer(estimator=SMOTE()))),
                ('normalize', TransformerWrapper(transformer=MinMaxScaler())),
                ('trained_model',
                 RandomForestClassifier(n_jobs=-1, random_state=8216))])

In [15]:
pred_result=predict_model(rf, data=pred_data)

In [16]:
pred_result.head()

,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,...,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,prediction_label,prediction_score
0,23,Scientist,19114.119141,1824.843384,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,...,809.979980,35.030403,273.0,No,49.57494921489417,236.642685,Low_spent_Small_value_payments,186.266708,0,0.96
1,24,Scientist,19114.119141,1824.843384,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,...,809.979980,33.053116,274.0,No,49.57494921489417,21.465380,High_spent_Medium_value_payments,361.444000,0,0.98
2,24,Scientist,19114.119141,1824.843384,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",1,...,809.979980,33.811893,NaN,No,49.57494921489417,148.233932,Low_spent_Medium_value_payments,264.675446,0,0.98
3,24,Scientist,19114.119141,4182.004395,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",4,...,809.979980,32.430557,276.0,No,49.57494921489417,39.082512,High_spent_Medium_value_payments,343.826874,0,0.98
4,28,_______,34847.839844,3037.986572,2,4,6,1,Credit-Builder Loan,3,...,605.030029,25.926821,327.0,No,18.816214573128885,39.684017,High_spent_Large_value_payments,485.298431,0,1.00

In [18]:
if not os.path.exists(config.prediction_path):
    os.makedirs(config.prediction_path)

In [19]:
pred_result.to_csv(config.prediction_path_file)